/*----------------------------------*/
/*HEADER*/
header {
    display: flex;
    background-color: #4cbe9c65;
    color: #1da081;
}

header img {
    margin-top: 1%;
    height: 150px;
    width: auto;
}

header h1 {
    margin-left: 5%;
    font-size: 75px;
}

/*----------------------------------*/
/*FOOTER*/
footer {
    background: linear-gradient(to right, #1da081b2, #d98585a4);
    padding: 2px;
}

footer p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-style: italic;
    font-size: medium;
}

/*----------------------------------*/
/*NAVEGACION*/
nav {
    background: linear-gradient(to right, #d98585, #1da081);
    display: flex;
    padding: 10px 40px;
    justify-content: space-around;
    align-items: center;
}

nav a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    text-transform: uppercase;

    color: white;
    text-decoration: none;
    padding: 12px;
    border-radius: 8px;
    transition: all 0.3s ease;
}



nav a:hover {
    background-color: white;
    color: #1da081;
    transform: translateX(8px);
}

nav a.activo {
    background-color: white;
    color: #1da081;
    transform: translateX(8px);
}

/*----------------------------------*/
/*CARRUSEL*/

.carrusel {
    display: flex;      /*pone una imagen al lado de la otra*/
    overflow: hidden;   /*oculta lo que se sale del conetenedor, para que se vea solo una imagen*/
    margin: 0 5%;       
}

.carrusel img {
    min-width: 100%;                            /*cada imagen ocupa todo el ancho del carrusel*/
    height: 400px;
    object-fit: cover;                          /*rellena sin deformar la imagen*/
    animation: pasarImagenes 12s infinite;      /*usa la animacion pasarImagenes, dura 12segs y se repite infinito*/
}

@keyframes pasarImagenes {
    0%, 20% {                           /*porcentaje deltiempo en laimagen*/
        transform: translateX(0);       /*desplazamiento, se mueve un ancho completo (acumulativo) */
    }

    25%, 45% {
        transform: translateX(-100%);
    }

    50%, 70% {
        transform: translateX(-200%);
    }

    75%, 95% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(0);
    }
}

/*----------------------------------*/
/*TEXTOS*/

h2 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
}

p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 20px;
}


/*----------------------------------*/
/*FUENTES AÑADIDAS DE GOOGLE FONTS*/
.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*----------------------------------*/
/*PAGINAS INTERNAS*/

main {
    display: flex;
    min-height: 60vh;
}

.nav-interno {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    gap: 10px;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    padding: 30px;  
}

.nav-interno a{
    color: white;

}

.contenido-interno{
    flex:1;
}

.contenido-interno img{
    display: block;
    margin: auto;
}

.titulo-interno {
    font-size: 70px;
    text-align: center;

}


.bloque-interno {
    display: none;
}

.bloque-interno:target {
    display: block;
}


.nav_cayca {
    background: linear-gradient(to right, #011d7a, #768ace);;
}

.nav_costa {
    background: linear-gradient(to right, #fe0000,#bb7f7f);;
}

.nav_fco {
    background: linear-gradient(to right, #005f33, #8fceb0);;
}

.nav_independiente {
    background: linear-gradient(to right, #fe0000,#bb7f7f);;
}

.nav_pfc {
    background: linear-gradient(to right, black, rgb(121, 117, 117));;
}


.nav-interno a {
    color: white;
    text-decoration: none;
    padding: 12px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.nav-interno a:hover,
.nav-interno a.activo {
    background-color: white;
    color: black;
    transform: translateX(8px);
}


figcaption {
    font-size: 14px;
    font-style: italic;
    color: #666;
    text-align: center;
}

.about {
    display: flex;
    gap: 30px;
}


.about div {
    flex: 1;
}

.about p{
    text-align: center;
}



 /*DISCIPLINAS*/ 
/*declaro variables para cada club, con los colores de cada uno*/
.club-cayca {
    --color-principal: #011d7a;
    --color-secundario: #768ace;
}

.club-costa {
    --color-principal: #fe0000;
    --color-secundario: #bb7f7f;
}

.club-fco {
    --color-principal: #005f33;
    --color-secundario: #8fceb0;
}

.club-independiente {
    --color-principal: #fe0000;
    --color-secundario: #bb7f7f;
}

.club-pfc {
    --color-principal: black;
    --color-secundario: rgb(121, 117, 117);
}



 .disciplinas { 
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 30px; 
    margin: 30px 5%;
 } 
    .disciplina { 
        background-color: #f2f2f2; 
        border-radius: 15px; 
        padding: 20px; 
        text-align: center; 
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2); 
    } 
    .disciplina img { 
        width: 100px; 
        height: 100px; 
        object-fit: contain; 
    } 
    .disciplina h2 { 
        font-family: "Anton", sans-serif; 
        margin: 10px; 
    } 
    .disciplina p { 
        text-align: center; 
        margin: 10px; 
        font-size: 18px; 
    } 
    .disciplina ul { 
        list-style: none; 
        padding: 0; 
        font-family: Arial, Helvetica, sans-serif; 
    } 
    .disciplina li { 
        margin: 5px; 
    } 

    .disciplina a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: var(--color-principal);
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.3s;
}

.disciplina a:hover {
    background-color: var(--color-secundario);
    transform: scale(1.05);
}

    
     /*TABLAS DE HORARIOS*/ 
    .bloque-interno { 
        display: none; 
        margin: 40px 5%; 
    } 
    .bloque-interno:target { 
        display: block; 
    } 
    .bloque-interno h2 { 
        font-family: "Anton", sans-serif; 
        font-size: 35px; 
    } 
    .bloque-interno table { 
        width: 100%; 
        border-collapse: collapse; 
        font-family: Arial, Helvetica, sans-serif; 
    } 
    .bloque-interno th, .bloque-interno td { 
        padding: 15px; 
        border: 1px solid #ccc; 
        text-align: center; 
    } 
    .bloque-interno th {
    background-color: var(--color-principal);
    color: white;
}